.comment-author , .comment-author a{
    color: #eb5055 !important;
    font-size: 15px !important;
}

.comment-header .comment-author {
    margin: 0 5px !important;
}

.comment-author-at a {
    color: #eb5055 !important;
}